<html>
    <head>
        <title>{{ title }}</title>
        <style>
          table,
          th,
          td {
            padding: 10px;
            border: 1px solid black;
            border-collapse: collapse;
          }
        </style>
      </head>
    <body>
        <p><b><u>{{ type }}</u></b>, {{ date }}<br>
        
            {{ distance }}km in {{ duration }}<br>

            {{ note|safe }}<!--br included in function-->
          
          {{ shoes|safe }}</p>
        
        <p>{{ map|safe }}</p>
    </body>
    

    <body>

      {{ alt_distance_plotly|safe }}
          
        {{ times_table|safe }}
        
        <p>{{ times_radar_plot|safe }}</p>

    </body>

    {{ comparisons|safe }}

    <body>

        <p>{{ activity_otd|safe }}</p>

        <p><i>Ref</i>: {{ ac_no }} | <a href='edit'>Edit</a><br>
          {{ prev_post|safe }}<br>
        <a href='../../'>Home</a> | <a href='../'>Index</a> | <a href='../../rankings'>Rankings</a></p>
    </body>
</html>