<html>

    <script>

function mainSVGreset(cls) {
  var i;
  var x = document.getElementsByClassName(cls)
  for (i = 0; i < x.length; i++) {
    x[i].setAttribute("width", "50%")
    x[i].setAttribute("height", "50%")
    /*removeAttribute*/
  }
}
function adjustHeight(cls) {
  var i;
  var x = document.getElementsByClassName(cls);
  for (i = 0; i < x.length; i++) {
    x[i].style.position = "absolute"; 
    x[i].style.width = "100%";
    x[i].style.height = "100%"; 
  }
  mainSVGreset(cls)
}



        function openLink(evt, animName) {
          var i, x, tablinks;
          x = document.getElementsByClassName("vert");
          /*for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }*/
          tablinks = document.getElementsByClassName("tablink");
          for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
          }
          
          if (document.getElementById(animName).style.display = 'block') 
            {document.getElementById(animName).style.display = 'none';}
          if (document.getElementById(animName).style.display = 'none') 
            {document.getElementById(animName).style.display = 'block';}
          
          evt.currentTarget.className += " w3-red";

          adjustHeight("user-select-none svg-container")
          adjustHeight('main-svg')
          mainSVGreset('main-svg')
        }

          

    function openCity(cityName,sectionName) {
  var i;
  var str1 = 'hori-';
  var str2 = sectionName;
  var sec = str1.concat(str2);
  var x = document.getElementsByClassName(sec);
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  document.getElementById(cityName).style.display = "block";  
  adjustHeight("user-select-none svg-container")
  adjustHeight('main-svg')
}
        </script>

<title>{{ title }}</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  table {width: 100%;
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;}
          th,
          td {
            padding: 10px;
            border: 1px solid black;
            border-collapse: collapse;
          }
</style>

<body>
<!-- This is the menu bar on the lefft-->
<div class="w3-sidebar w3-bar-block w3-black w3-card" style="width:130px">
  <h5 class="w3-bar-item">Summary</h5>
  <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Map')">Map</button>
  <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Analysis')">Analysis</button>
  <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'HeartRate')">HR</button>
  <button class="w3-bar-item w3-button tablink" onclick="mainSVGreset('main-svg')">Reset</button>
</div>

<div style="margin-left:130px">
  <div class="w3-padding"><p><b><u>{{ type }}</u></b>, {{ date }}<br>
        
    {{ distance }}km in {{ duration }}<br>

    {{ note|safe }}<!--br included in function-->
  
  {{ shoes|safe }}</p></div>

  <!--This is the map block-->
  <div id="Map" class="w3-container vert w3-animate-left" style="display:none">
    <div class="w3-padding w3-bar w3-black">
        <button class="w3-bar-item w3-button" onclick="openCity('Geo','map')">Geo</button></button>
        <button class="w3-bar-item w3-button" onclick="openCity('Heat','map')">Heat</button>
        <button class="w3-bar-item w3-button" onclick="openCity('3D','map')">3D</button>
        <button class="w3-bar-item w3-button" onclick="this.parentElement.parentElement.style.display='none'">Close</button>
      </div>
      
    <div id="Geo" class="w3-container hori-map" style='border: 2px #FF0000 solid;'>
      {{ map|safe }}  
      </div>
      
      <div id="Heat" class="w3-container hori-map" style="display:none; border: 2px #FF0000 solid;">
        <p>I still need to load this.</p>
      </div>
      
      <div id="3D" class="w3-container hori-map" style="display:none; width: 100%;">
        {{ 3D_map|safe }}
      </div>
    </div>

    <div id="Analysis" class="w3-container vert w3-animate-left" style="display:none">
        <div class="w3-bar w3-black">
            <button class="w3-bar-item w3-button" onclick="openCity('Distance')">Distance</button>
            <button class="w3-bar-item w3-button" onclick="openCity('Duration')">Duration</button>
            <button class="w3-bar-item w3-button" onclick="this.parentElement.parentElement.style.display='none'">Close</button>
          </div>
          
        <div id="Distance" class="w3-container hori">
          {{ alt_distance_plotly|safe }}
          </div>
          
          <div id="Duration" class="w3-container hori" style="display:none">
            <p>I still need to make this.</p>
          </div>
    </div>

    <div id="HeartRate" class="w3-container vert w3-animate-left" style="display:none">
        <div class="w3-bar w3-black">
                <button class="w3-bar-item w3-button" onclick="openCity('hr_zones')">Zones</button>
                <button class="w3-bar-item w3-button" onclick="openCity('hr_details')">Details</button>
                <button class="w3-bar-item w3-button" onclick="this.parentElement.parentElement.style.display='none'">Close</button>
              </div>
              
        <div id="hr_zones" class="w3-container hori">
              {{ hr_pie|safe }}
              </div>
              
        <div id="hr_details" class="w3-container hori" style="display:none">
                {{ hr_dist|safe }}
              </div>

</div>

</body>
</html>