<html>

    <head>
        <title>Challenges</title>
    </head>

    <body>

        <p><b><u>Challenges</u></b></p>

        <p>
            <u>Annual</u>
            <br>
            <a href='lejog/'>Lejog</a>
            <br>
            <a href='via_francigena/'>Via Francigena</a>
        </p>
        <p>
            <u>All Time</u>
            <br>
            <a href='custom_route/'>Custom Route</a>
        </p>

        <p><a href={% url 'home' %}>Home</a> | <a href={% url 'index' %}>Index</a> | <a href={% url 'rankings' %}>Rankings</a></p>

    </body>
</html>