<html>
    <head>
        <title>Activities - GSS</title>
        <style>
          table,
          th,
          td {
            padding: 10px;
            border: 1px solid black;
            border-collapse: collapse;
          }
        </style>
      </head>
      
    <body>
        <p>
          <a href='Activity_Type'>Type</a><br>
          <a href='Shoes'>Shoes</a><br>
          <a href='Notes'>Notes</a><br>
          <a href='Admin'>Admin</a><br>
          <a href='download_csv'>Download csv</a><br>
          <a href='download_gpx'>Download GPX</a><br>
          <a href='Reset'>Reset</a><br>
          <a href='merge_with'>Merge with</a><br>
          <a href='Remove'>Delete</a>
        </p>
        <p>
          <a href='../'>Activity</a> | <a href={% url 'home' %}>Home</a>
        </p>
    </body>
    
</html>
