<html>
    <head>
        <title>Home - GSS</title>
    </head>
    <body>
        <p>{{ latest_activity|safe }}</p>
        <p>{{ week_prev_run_dist|safe }}<br>
            {{ month_prev_run_dist|safe }}<br>
            {{ year_week_progress|safe }}<br>
            {{ year_distances|safe }}
        </p>
        <p>{{ otd_para|safe }}</p>
        <p><a href={% url 'index' %}>Index</a> | <a href={% url 'rankings' %}>Rankings</a> | <a href={% url 'shoes' %}>Shoes</a></p>
    </body>
</html>