<html>
    <head>
        <title>Rankings - GSS</title>
        <style>
          table,
          th,
          td {
            padding: 10px;
            border: 1px solid black;
            border-collapse: collapse;
          }
        </style>
      </head>

    {{ splits_plot|safe }}

    <body>
        <p><b><u>Rankings</u></b><br><br>

          {{ top_set|safe}}</p>
          <p><a href={% url 'home' %}>Home</a> | <a href={% url 'index' %}>Index</a></p>
    </body>
    
</html>